/***************************** 
-   Colores: Header y Main   -
******************************/
$colorPrincipal:#083D77;
$colorSecundario: #EBEBD3;
$gradienteIframe: (#083D77, black);
$colorHoverNav:#032b55;
$colorHeader: #083D77;
$colorBlanco: white;
$colorLetraHoverNav: (rgb(255, 255, 255));
$colorLetraNav: dimgrey;
$fondoNegro: black;

//Color del separador (index.html)
$colorSeparador: rgb(70, 62, 62);

//Color de fondo de cada seccion (index.html)
$colorDeFondoSecciones: (rgba(0, 0, 0, 0.904));

//Colores de Indice (productos.html)
$colorIndiceDos: #c8ced4;
$colorGris: #6c757d;

//Colores Boton Contacto (limpiar y enviar)
$botonFondo: (rgb(1, 255, 107),rgb(18, 19, 107));
$botonColorTexto: rgb(255, 255, 255);