/***************************** 
-        Estilo Header          -
******************************/

.estiloHeader {
    margin: 0px;
    background-color: $colorHeader;
    margin: 0;
    padding: 1%;
    color: $colorBlanco;
}

